.cargar-alumnos-container {
  padding: 1rem;
  background-color: #004b72;
  color: #fff;
}

.cargar-alumnos-form {
  margin-top: 1rem;
}

.cargar-alumnos-form input,
.cargar-alumnos-form button {
  margin-bottom: 0.5rem;
}

.cargar-alumnos-form button {
  background-color: #fff;
  color: #00385d;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.cargar-alumnos-form button:hover {
  background-color: #f0f0f0;
}
