/* Archivo: src/styles/detallesStyles.css */
body, html {
  height: 100%;
  margin: 0;
  background-color: #00385d;
}

.detalles-dashboard {
  padding: 1rem;
  background-color: #004b72;
  color: #fff;
  min-height: 100vh;
}

.dashboard-heading {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  color: #fff; /* Asegurarse que el texto del encabezado sea blanco */
}

.dashboard-sections {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dashboard-section {
  margin: 10px;
  padding: 10px;
  border: 1px solid #2d2d2d;
  border-radius: 10px;
  background-color: #00385d;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  width: 300px;
  color: #fff; /* Asegurarse que el texto dentro de las secciones sea blanco */
}

.dashboard-section h3 {
  text-align: center;
  margin-bottom: 10px;
  color: #fff; /* Asegurarse que el texto del subencabezado sea blanco */
}

.dashboard-section p {
  margin: 5px 0;
  color: #fff; /* Asegurarse que el texto de los párrafos sea blanco */
}

.dashboard-section p strong {
  color: #fff; /* Asegurarse que el texto en negrita sea blanco */
}

.add-button {
  background-color: #006bb3;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.add-button:hover {
  background-color: #005b99;
}

.form-button {
  background-color: #006bb3;
  color: #fff;
  border: none;
  padding: 15px 30px;
  border-radius: 5px;
  cursor: pointer;
  align-self: center;
}

.form-button:hover {
  background-color: #005b99;
}

.message {
  color: #ff3333;
  margin-top: 20px;
}
