.inscripcion-container {
    padding: 1rem;
    background-color: #004b72;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .inscripcion-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 60%;
    max-width: 600px;
  }
  
  .inscripcion-form input,
  .inscripcion-form select,
  .inscripcion-form button {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .inscripcion-form button {
    background-color: #fff;
    color: #00385d;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .inscripcion-form button:hover {
    background-color: #f0f0f0;
  }
  