body, html {
  height: 100%;
  margin: 0;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1DA1F2;
  color: #fff;
  text-align: center;
}

.login-container h1 {
  margin-bottom: 20px;
}

.login-container button {
  background-color: #fff;
  color: #1DA1F2;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #f0f0f0;
}
