body, html {
  height: 100%;
  margin: 0;
  background-color: #00385d;
}

.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #00385d;
  color: #fff;
  text-align: center;
}

.login-logo {
  height: 30%; /* Ajusta el tamaño según sea necesario */
  margin-bottom: 20px;
}

.login-container h1 {
  margin-bottom: 20px;
  color: #fff;
}

.login-container button {
  background-color: #fff;
  color: #00385d;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #f0f0f0;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-top: 20px;
}

.form-input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  margin-bottom: 10px; /* Agrega margen inferior para espacio uniforme */
}

.form-button {
  margin-bottom: 10px; /* Agrega margen inferior para espacio uniforme */
}

.error-message {
  color: red;
  margin-top: 10px;
}