.nav-logo {
  max-height: 40px;
  margin-right: 10px;
}

.navbar-nav .dropdown-menu-right {
  left: auto !important;
  right: 0 !important;
}

.submenu-right .dropdown-menu {
  left: 100% !important;
  top: 0 !important;
  margin-top: 0 !important;
}

.submenu-right .dropdown-toggle {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.submenu-right .dropdown-toggle::after {
  content: none; /* Elimina el icono de flecha */
}

.alumnos-dropdown,
.administrativos-dropdown,
.inscripcion-dropdown {
  color: #000 !important; /* Asegura que el texto sea negro */
}

.submenu-right .dropdown-menu a {
  white-space: nowrap;
  display: block;
  padding: 0.5rem 1rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  background-color: transparent;
  border: 0;
}

.submenu-right .dropdown-menu a:hover {
  color: #fff;
  background-color: #007bff;
}